<!--
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Queensbury</title>

  &lt;!&ndash;-&#45;&#45;&#45;&#45;&ndash;&gt;

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="Slider, Hi Slider, Simple HTML5 Slideshow, Free js slider"/>
  <meta name="description"
        content="Slider created with Hi Slider which enable you to publish responsive jQuery image slideshows, seamless WordPress slider plugins, amazing website sliding banners and fancy JavaScript slideshow presentation"/>
  <script type="text/javascript" src="sliderengine/jquery.js"></script>
  <script type="text/javascript" src="sliderengine/jquery.hislider.js"></script>

  <script src="https://kit.fontawesome.com/5b8694af55.js" crossorigin="anonymous"></script>

  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
  </style>

  &lt;!&ndash;-&#45;&#45;&#45;&#45;&ndash;&gt;


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">


  <link rel="stylesheet"
        href="app.component.scss"
        type="text/css"
  >


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Untitled</title>
 -->

<router-outlet></router-outlet>
